[mysqld]

user                        = mysql

character_set_filesystem    = utf8
character-set-server        = utf8

default-character-set       = utf8

expire-logs-days            = 14

init-connect                = "SET NAMES utf8"
innodb_additional_mem_pool  = 20M
innodb_buffer_pool_size     = 20G
innodb_file_per_table
innodb_flush_method         = O_DIRECT
innodb_log_file_size        = 1G
innodb_thread_concurrency   = 20 # A recommended value is 2 times the number of CPUs plus the number of disks.
interactive_timeout         = 3600 # 1hr
wait_timeout                = 3600 # 1hr

join_buffer                 = 2M
key_buffer_size             = 1G

log_error                   = /var/log/mysql/error.log

long_query_time             = 0

max_allowed_packet          = 16M
max_connect_errors          = 10
max_connections             = 1200
myisam_sort_buffer_size     = 64M

query_cache_type            = 1
query_cache_limit           = 1M
query_cache_size            = 32M

read_buffer_size            = 2M
read_rnd_buffer_size        = 2M

skip-name-resolve
socket                      = /var/run/mysqld/mysqld.sock
sort_buffer_size            = 4M

table_cache                 = 1500
thread_cache_size           = 128
thread_concurrency          = 8  # MySQL Docs say thread_concurrency is specific to Solaris.
tmp_table_size              = 32M

####################################
[client]

default-character-set       = utf8
port                        = 330GNI_SERVER_ID6
socket                      = /var/run/mysqld/mysqld.sock

####################################
[mysql]

default-character-set       = utf8

####################################
[mysql.server]

ft_min_word_len             = 2
