GNI_DATABASE_HOST=0.0.0.0
GNI_DATABASE_ADMIN_USER=admin
GNI_DATABASE_ADMIN_PASSWORD=changeme
GNI_DATABASE_USER=gni
GNI_DATABASE_PASSWORD=changeme
GNI_PARSER_HOST=0.0.0.0
GNI_UNICORN_WORKER_PROCESSES=4
RAILS_ENV=production
RACK_ENV=production
